*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card {
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,rgb(77, 188, 216),orange);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    border-radius: 50%;
    margin-left: 30px;
    padding-left: 30px;
    align-items: center;
    justify-content: space-between;

}
.serach input{
   
    
    background-color: #ebfffc;
    font-size: 18px;
    height: 70px;
    border-radius: 40px;
    flex: 1;
    color: #555;
 

}
.search button {
   border: 0;
    outline: 0;
    background-color: #eff5f4;
    height: 30px;
    width: 30px;
    margin-right: 70px;
    border-radius: 50%;
    cursor: pointer;

}
.search button img{
    width: 13px;   
}
.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 400;
    margin-top: -1opx;
}
.weather h2{
    font-size: 80px;
    font-weight: 400;
    margin-top: -1opx;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px ;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;

}
.humidity,.wind{
    font-size: 20px;
    margin-top:-6px;

}
.error{
    text-align: left;
    margin-left:10px ;
    font-size: 14px;
    margin-top: 10px;
    display: none;

}